page-informacion-establecimiento {
    #map {
        width: 100%;
        height: 100px !important;
    }

    #mapa {
        width: 100%;
        height: 100% !important;
    }

    .imagenEstablecimiento {
        width: 100%;
        height: 20% !important;
    }

    .colMapa {
        width: 100%;
        height: 100%;
    }
    .contentCard {
        height: 100% !important;
    }
}
